.item-add-form {
    display: flex;
    justify-content: space-around;
    width: 700px;

    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;

    font-size: 30px;

    box-shadow: -20px 20px 0 -17px #e3e3e3,
    20px -20px 0 -17px #e3e3e3,
    20px 20px 0 -20px #592385,
    0 0 0 2px #592385;
}

.add-type {
    width: 70px;
}

.add-number {
    width: 100px;
}

.add-description {
    width: 300px;
}